@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


*{
    /* top: 0;
    left: 0; */
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body{
    margin: auto;
}

section{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.row{
    display: flex;
}

.row-3{
    display: flex;
    width: 25%;
}

.row-6{
    display: flex;
    width: 50%;
}

.row-9{
    display: flex;
    width: 75%;
}

.row-12{
    display: flex;
    width: 100%;
}

.col-3{
    flex: 25%;
}

.col-4{
    flex: 33%;
}

.col-6{
    flex: 50%;
}

.col-9{
    flex: 75%;
}

.col-12{
    flex: 100%;
}

.header{
    background-color: #222222;
    position: relative;
    margin: auto;
    width: 100%;
}

.mySlides{
    display: none;
}


.header .top-header{
    max-height: 44px;
    max-width: 1200px;
    /* display: none; */
}


.header .top-header .slider img{
    max-height: 44px;
    max-width: 1200px;
}

.header .top-header .slider{
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.header .top-header .slider .display-left, .header .top-header .slider .display-right{
    cursor: pointer;
    position: absolute;
    top: 20%;
    width: auto;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border: none;
    background: transparent;
    user-select: none;
}

.header .top-header .slider .display-right{
    right: 0; 
}

.header .top-header .slider .display-left:hover, .header .top-header .slider .display-right:hover{
    color: #f3f3f3;
}

.header .main-header{
    max-height: 100px;
    padding: 10px 0;
}

.header .main-header .main-logo a img{
    height: 100%;
    width: 100%;
    max-height: 60px;
    max-width: 200px;
    margin: 0;
    cursor: pointer;
}

.header .main-header .nav ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    max-height: 90px;
    max-width: 900px;
    overflow: hidden;
}

.header .main-header .nav ul li.category{
    display: inline-block;
}

.header .main-header .nav ul li .category-list, 
.header .main-header .nav ul li a, 
.header .main-header .nav ul li i, 
.header .main-header .nav ul li button{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
}

.header .main-header .nav ul li .category-list::after{
    content: "\2228";
    font-size: 10px;
    color: #f3f3f3;
    text-align: center;
}

.header .main-header .nav ul li .category-list .bx-chevron-down{
    padding: 0;
}

.header .main-header .nav ul li i{
    cursor: pointer;
}

.header .main-header .nav ul li button{
    border-radius: 50px;
    border: none;
    background: green;
    cursor: pointer;
}

.header .main-header .nav ul li button a{
    padding: 0;
}

.header .main-header .nav ul li button a:hover{
    background: transparent;
}

.header .main-header .nav ul li .chil-category{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: none;
    border-radius: 4px;
} 

.header .main-header .nav ul li .chil-category a{
    color: black;
    border-bottom: 1px solid #696969;   
    padding: 12px 16px;
    text-decoration: none;
    max-width: 300px;
    display: block;
    text-align: left;
}

.header .main-header .nav ul li .chil-category a.chil-category-end{
    border: none;
}

.header .main-header .nav ul li .chil-category a:hover{
    background-color: #c6c6c6;
    /* border-radius: 4px; */
}

.header .main-header .nav ul .category:hover .chil-category{
    display: block;
}

.header .main-header .nav ul .category:hover .chil-category::after {
    content: "";
    position: absolute;
    top: -9px;
    left: 70px;
    border-bottom: 10px solid #f3f3f3;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.header .main-header .nav ul li i{
    font-size: 20px;
    color: #f3f3f3f3;
}

.header .main-header .nav ul li .search-box-popup{
    display: none;
    position: absolute;
    background-color: #f3f3f3;
    padding: 20px;
    min-width: 160px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} 

.header .main-header .nav ul li .search-box-popup input{
    border-radius: 8px 0 0 8px;
    border: 1px solid #008000;
    padding: 0 10px 0 10px;
    text-decoration:underline;
}

.header .main-header .nav ul li .search-box-popup i{
    background: #008000;
    border-radius: 0px 8px 8px 0px;
}

.header .main-header .nav ul .search-box.show .search-box-popup{
    display: flex;
}

.header .main-header .nav ul .search-box.show .search-box-popup::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    border-bottom: 10px solid #f3f3f3;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.page {
    height: 100%;
    background: #f3f3f3;
    padding-bottom: 40px;
}

.page .banner{
    max-width: 1200px;
    height: 600px;
}

.page .banner img{
    width: 100%;
    height: 100%;
}

.page .icon-box{
    margin: auto;
}

.page .icon-box .list-icon-box{
    margin: 20px 0 20px 0;
    text-align: center;
    padding: 10px;
    height: 200px;
    width: 200px;
    border-left: 1px solid rgba(222,214,214,.35);
}

.page .icon-box .list-icon-box.begin{
    border: none;
}

.page .icon-box .list-icon-box .icon{
    margin: 8px;
}

.page .icon-box .list-icon-box .icon i{
    font-size: 80px;
    font-weight: 800;
    color: #303c72;
}

.page .icon-box .title-icon-box .title, .page .icon-box .title-icon-box .description{
    margin: 8px;
}

.page .icon-box .title-icon-box .title{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.page .icon-box .title-icon-box .description{
    font-size: 16px;
    font-weight: 500;
    padding: 0 4px 0 4px;
}

.page .content .main-content .title-content, .page .content .main-content .description{
    text-align: center;
}

.page .content .main-content .title-content{
    font-size: 28px;
    font-family: 'Nunito Sans', sans-serif;
    margin: 20px 0 10px 0;
}

.page .content .main-content .description{
    font-size: 16px;
}

.post-list{
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 389px 389px 389px;
    grid-template-rows: 250px 250px;
    grid-gap: 16px;
}

.post-list .post-box{
    /* border: 1px solid black; */
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.post-list .post-box:hover{
    /* border: 1px solid black; */
    border-radius: 16px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: all ease 1s;
}

.post-list .post-box img{
    width: 348px;
    height: 150px;
    border-radius: 8px;
}
.post-list .post-box .title-post{
    max-height: 40px;
    height: 100%;
}

.post-list .post-box .title-post span{
    font-size: 18px;
    font-weight: 700;
}

.page .content-description .content-seo .title-content{
    font-size: 28px;
    margin: 20px 0 10px 0;
}

.page .content-description .content-seo .description-text{
    font-size: 16px;
    text-align: justify;
}

.page .location.row-12{
    margin-top: 40px;
}

.page .location .location-info{
    padding-right: 16px;
}

.page .location .location-info .title-location-info{
    text-align: center;
    background: #008000;
    border: 1px solid #008000;
    color: #fff;
    padding: 8px;
    font-size: 20px;
    margin: 0;
}

.page .location .location-info .description-location{
    font-size: 14px;
    display: block;
    list-style-type: none;
}

.page .location .location-info .description-location a{
    text-decoration: none;
    color: #000;
}

.page .location .location-info .description-location li{
    display: block;
    padding: 6px;
    border: 1px solid #000;
    list-style-type: none;
    cursor: pointer;
}


.page .location .location-info li:hover{
    background: #696969;
}

.page .location .location-info li:hover a{
    color: #fff;
}

.page .location .location-info .description-location strong{
    font-size: 18px;
}


.footer{
    height: 100%;
    width: 100%;
    background: #222222;
}

.footer .footer-line1{
    margin: auto;
    padding: 32px 0 32px;
}

.footer .footer-line1 .footer-infor-company, .footer .footer-line1 .footer-infor-company .name-company,
.footer .footer-line1 .footer-infor-company .name-company .description-company,
.footer .footer-line1 .list-service, .footer .footer-line1 .list-infor
{
    margin: 0;
}

.footer .footer-line1 .footer-infor-company .name-company .name-company-title{
    margin: 10px 0 20px;
}

.footer .footer-line1 .footer-infor-company .name-company .name-company-title a{
    text-decoration: none;
}

.footer .footer-line1 .list-service .title-list-service, .footer .footer-line1 .list-infor .title-list-infor{
    margin: 10px 0 12px;
    text-transform: uppercase;
}

.footer .footer-line1 .footer-infor-company .name-company .name-company-title span{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.footer .footer-line1 .footer-infor-company .name-company .description-company p{
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5rem;
}

.footer .footer-line1 .footer-infor-company .name-company .description-company p a{
    text-decoration: none;
    color: #fff;
}

.footer .footer-line1 .footer-infor-company .name-company .description-company p a:hover{
    color:red;
}

.footer .footer-line1 .list-service .title-list-service span, .footer .footer-line1 .list-infor .title-list-infor span{
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.footer .footer-line1 .list-service ul, .footer .footer-line1 .list-infor ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.footer .footer-line1 .list-service ul li, .footer .footer-line1 .list-infor ul li{
    margin: 0 60px 0 0;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #fff;
}

.footer .footer-line1 .list-service ul li.chil-list-end, .footer .footer-line1 .list-infor ul li.chil-list-end{
    border-bottom: none;
}

.footer .footer-line1 .list-service ul li a, .footer .footer-line1 .list-infor ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.copyright{
    margin-top: -16px;
    height: 40px;
    background-color: #5b5b5b;
}

.copyright .footer-line2 .copyright-infor{
    text-align: left;
    margin: 0;
}

.copyright .footer-line2 .copyright-infor p{
    padding-top: 12px;
    font-size: 14px;
    color: #ffffff80;
}

.copyright .footer-line2 .copyright-infor p a{
    text-decoration: none;
    color: #ffffff80;
}

.page .page-services{
    padding-top: 20px;
}

.page-content .title-services{
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    color: #000;
    text-transform: uppercase;

}

.page-content .description-services{
    margin: 0;
    font-size: 16px;
    line-height: 1.5rem;
    text-align: justify;
    color: #000;
}

.conent-post-services{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
}

.conent-post-services .post-services{
    width: 380px;
    padding: 20px;
    margin: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.conent-post-services .post-services:hover{
    /* background-color: red; */
    transition: all ease 0.2s;
    /* padding: 10px; */
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.conent-post-services .post-services .image-post-services{
    height: 200px;
    width: 100%;
    border-radius: 8px;
}

.conent-post-services .post-services .title-post-services{
    text-transform: uppercase;
    flex: 1;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 12px 0;
    text-align: justify;
}

.conent-post-services .post-services .shot-description-services{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    margin-top: auto;
    text-align: justify;
}

.pagination {
    margin-top: 24px;
    display: inline-block;
    border: 1px #ddd solid;
    /* transition: background-color .3s; */
    border-radius: 50px;
}

.pagination a {
    color: black;
    float: left;
    margin: 8px;
    padding: 8px 16px;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.page .location-contact{
    padding-top: 20px;
}

.location-contact .title-page-contact{
    display: block;
}

.location-contact .title-page-contact .title-contact{
    /* margin: 0; */
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    text-align: center;
}

.location-contact .contact-infor{
    display: flex;
    width: 100%;
}

.location-contact .contact-infor .description-contact{
    min-width: 450px;
}

.location-contact .contact-infor .description-contact p{
    margin: 0;
    line-height: 1.5rem;
    font-weight: 700;
}

.location-contact .contact-infor .description-contact p a{
    text-decoration: none;
    color: #000;
}

.location-contact .contact-infor .description-contact p a:hover{
    color: red;
}

.location-contact .contact-infor .form-contact{
    display: flex;
    flex-direction: column;
    min-width: 750px;
    padding-left: 40px;
}

.location-contact .contact-infor .form-contact input, .location-contact .contact-infor .form-contact textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.flex-form{
    display: flex;
    width: 100%;
    gap: 10px;
}

.page.contact{
    padding: 0;
}

.location-contact .contact-infor .form-contact .submit{
    float: right;
    width: 20%;
    cursor: pointer;
    background-color: #c69af3;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.location-contact .contact-infor .form-contact .submit:hover{
    background-color: #22083a96;
}

section.map-contact{
    margin: 0;
    height: 400px;
    width: 100%;
    max-width: 1600px;
}

.map-contact .map iframe{
    width: 100%;
    height: 400px;
    max-width: 2000px;
}

.map-contact .map{
    margin: 20px 0 0 0;
}